div{
	background-color: white;
	border:2px solid black;
	text-align:center;
	margin-left: 25%;
	margin-bottom: 10%;
	width: 50%;
}
#d5 p{
	margin: 0px;
}
div:hover{
	background-color:#D8D8D8;
}
#d1{
	border-style: dotted;
	border-radius:20px; 
	border-color: red;
}
#d2{
	border-style:dashed;
	border-color: rgb(1,100,40);
}
#d3{
	border-top-style:solid;
	border-top-color:red;
}
#d4{
	border-bottom-style: double;
	border-top-style:dashed;
	border-bottom-color:blue;

}
#d5{
	text-align: center;
	background-color:#D8D8D8;
	padding:8px;
	font-style:italic;
	border-style: none;
	height:25%;
	border-left:10px solid #2E2EFE;
	border-radius:10px;

}
#d6{
	border-radius: 20px;
}
#d7{
	border-style: inset;
}