h2,h4,h6{	
	color: red;
}
h6{
	font-size: 50px;
}
p{
	color: blue;
}
a{
	color: red;
}
p a{
	color: purple;
}
.link{
	color: green;
	font-size: 10px;
}

/*
Nota, las ID ya no se utilizan, solo 
las clases uwu.
*/